[submodule "imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "SDL"]
	path = include/SDL3
	url = https://github.com/libsdl-org/SDL

[submodule "glad"]
	path = include/glad
	url = https://github.com/Dav1dde/glad

[submodule "yaml"]
	path = include/yaml
	url = https://github.com/jbeder/yaml-cpp.git